@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: #282c34;
    font-size: 2vmin;
    font-family: JetBrains Mono, monospace;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
}

#logo{
display: flex;
justify-content: center;
align-items: center;
margin:  0 0 40px 0;
font-size:25px;
position: relative;
top: 0;

}

button#createGridButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 15px 25px;
    color: #282c34;
    border: 0;
    font-weight:800;
    background-color: #e4bb68;
    border-radius: 5px;
}

#modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.modalContent {
    background-color: #282c34;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

#submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 15px 25px;
    color: #282c34;
    border: 0;
    font-weight:800;
    background-color: #e4bb68;
    border-radius: 5px;
    margin: 5px auto;
}

#showContainer{
    display: none;
}

div#container {
    display: none;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    box-sizing: content-box; 
    border:  15px solid #e06c75;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin: 20px;
}

div#container > div {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    font-size: 0;
    line-height: 0;
}

div#actionButtonsContainer{
    display: none;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 630px;
    gap: 5px;
}

button.actionButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    color: #fff;
    border: 0;
    font-weight:800;
    background-color: #61afef;
    border-radius: 5px;
}